.comments-container {
  padding: 16px;
  font-size: 15px;
}

.comments-container .leave-comment-form, .comment {
  display: flex;
  flex-direction: row;
}

.comment {
  margin-top: 16px;
}

.comment .content {
  margin-left: 10px;
  padding: 10px;
  background-color: #f0f2f5;
  border-radius: 5px;
  width: calc(100% - 42px);
  padding: 5px 10px;
}

.comment .text {
  margin-top: 5px;
}

.comment input[type="text"] {
  background: none;
  border: solid 2px #0469dd;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  width: 100%;
  outline: none;
}

.comment .content .name {
  font-size: 13px;
  font-weight: 600;
}

.comment .content span {
  color: #65676B;
  font-size: 12px;
  font-weight: normal;
}

.comments-container .leave-comment-form input[type="text"] {
  margin-left: 10px;
  width: calc(100% - 42px);
  border: none;
  border-radius: 5px;
  background-color: #f0f2f5;
  outline: none;
  padding: 0 10px;
}

.comment-pic-container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}

.comment .cancel-save-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.comment .cancel-save-options img {
  width: 20px;
  height: 20px;
}

.comment .cancel-save-options img:first-child {
  margin-right: 5px;
}
