.flash-message-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-y: auto;
  max-height: 100%;
}

.flash-message {
  padding: 10px;
  color: white;
  border-radius: 5px;
  animation: slide 0.5s 1;
  margin: 0 20px 10px 20px;
}

.flash-message:first-child {
  margin-top: 20px;
}

.flash-message.error {
  background-color: red;
}

.flash-message.success {
  background-color: rgb(12, 228, 113);
}

@keyframes slide {
  0%   {transform: translate(calc(100% + 20px), 0)}
  50%  {transform: translate(0, 0)}
}
