.flash-message {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  z-index: 1;
}

.flash-message.error {
  background-color: red;
}

.flash-message.success {
  background-color: rgb(12, 228, 113);
}
