.forgot-password-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.forgot-password-container .instructions {
  margin-bottom: 30px;
  max-width: 350px;
  font-size: 14px;
  text-align: center;
}

.forgot-password-container a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(3, 91, 207);
}

@media screen and (max-width: 360px) {
  .forgot-password-container .instructions {
    width: 100%;
  }

  .forgot-password-container {
    margin: 0 5%;
  }
}
