nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 0px 20px -10px #000000;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0;
}

nav a, nav button, nav .logo div {
  text-decoration: none;
  padding: 5px 10px;
  color: rgb(26, 26, 26);
  font-size: 14px;
}

nav .logo img {
  width: 50px;
}

nav button {
  background-color: red;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  display: flex;
  color: white;
  font-weight: bold;
  width: fit-content;
}

nav a.active {
  font-weight: bold;
}

.menu-btn {
  display: flex;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  margin: 0 5px;
}

.menu-links {
  display: none;
  box-sizing: border-box;
  flex-direction: column;
  width: 180px;
  box-sizing: border-box;
  padding: 10px 15px;
  border-top: solid 1px #c9c9c9;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  right: 5px;
  background-color: white;
  box-shadow: 0px 13px 9px -16px #353434;
}

@media screen and (max-width: 400px) {
  .menu-links {
    width: 100%;
  }
}
